@using WebApplication1.Controllers;

@section Styles {
    <link rel="stylesheet" href="/css/Home/_Layout.css" />
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Спецификация</title>
    @RenderSection("Styles", required: false)
</head>
<body>


    <div class="everything_but_footer">
        <header>
            <div class="header_menu">
                <div><h1>Добро пожаловать в помощник подбора масла!</h1></div>
            </div>
        </header>
        <div class="header_menu_links">
            <a href="#">Вход/регистрация</a>
            <a asp-controller="Home" asp-action="@nameof(HomeController.Test)">Подбор по характеристикам</a>
            <a asp-controller="Home" asp-action="@nameof(HomeController.OilChooseMotor)">Подбор по двигателю</a>
            <a asp-controller="Home" asp-action="@nameof(HomeController.OilChooseCar)">Подбор по модели автомобиля</a>
        </div>

        <main>
            @RenderBody()
        </main>
    </div>

    <footer>
        <p>&copy; 2023 Мой Интернет Магазин</p>
    </footer>
    @RenderSection("Scripts", required: false)
</body>
</html>