@model WebApplication1.Models.ToRender.ChoosebyMotor;
@using WebApplication1.Models;
@using WebApplication1.Models.MotorOilStats;
@using WebApplication1.Models.ChoiceHelpers;


@section Styles {
    <link rel="stylesheet" href="/css/Home/_Layout.css" />
    <link rel="stylesheet" href="/css/Home/OilChooseMotor.css" />
}

<div class="motordiv">
    <h3>Выберите мотор:</h3>
    <input list="motorchoose" name="Motor" form="FiltersForm" class="filterinput">
    <datalist id="motorchoose">
        @foreach (MotorType item in Model.MotorsList)
        {
            <option value="@item.Name"></option>
        }
    </datalist>
</div>
<table>
    <tr>
        <td>
            <section class="maincontent">
                <div class="oilstable" id="oilstable">
                    @{
                        @foreach (MotorOilMerch item in Model.MotorOilMerches)
                        {
                            <div>
                                <img src="@item.MotorOil.GetImgNamePath()" asp-append-version=true width="85%">
                                <div>
                                    <p>@item.MotorOil.Name @item.MotorOil.SAEViscosity <text>@item.MotorOil.Volume</text>л</p>
                                    <p>Продавец: @item.Store.Company.Name </p>
                                    <h3>@item.Price Р</h3>
                                </div>
                            </div>
                        }
                    }
                </div>
            </section>
        </td>
        <td>
            <aside>
                <div>
                    <h4>Фильтры</h4>
                    <form id="FiltersForm">
                        <h5>Название</h5>
                        <div>
                            <p><input class="filterinput" type="text" name="Name"></p>
                        </div>
                        <h5>Класс качества(API)</h5>
                        <div>
                            <p>
                                <input class="filterinput" type="radio" name="APIClass" value="Any">Любой
                            </p>
                            @foreach (APIQualityClass item in Model.APIQualityClasses)
                            {
                                <p>
                                    <input class="filterinput" type="radio" name="APIClass" value="@item.id">@item.Name
                                </p>
                            }
                        </div>

                        <h5>Производитель</h5>
                        <div>
                            @foreach (string item in Model.Producers)
                            {
                                <p>
                                    <input class="filterinput" type="checkbox" name="Producer" value="@item">@item
                                </p>
                            }
                        </div>

                        <h5>Вязкость</h5>
                        <div>
                            @foreach (SAEViscosity item in Model.SAEViscosities)
                            {
                                <p>
                                    <input class="filterinput" type="checkbox" name="SAEViscosity" value="@item.ToString()">@item
                                </p>
                            }
                        </div>

                        <h5>Компания-продавец</h5>
                        <div>
                            @foreach (Company item in Model.Companies)
                            {
                                <p>
                                    <input class="filterinput" type="checkbox" name="Company" value="@item.id">@item.Name
                                </p>
                            }
                        </div>

                        <h5>Объём(литров)</h5>
                        <div>
                            <p>От:<input class="filterinput" type="number" name="VolumeFrom"></p>
                            <p>До:<input class="filterinput" type="number" name="VolumeTo"></p>
                        </div>

                        <h5>Цена</h5>
                        <div>
                            <p>От:<input class="filterinput" type="number" name="PriceFrom"></p>
                            <p>До:<input class="filterinput" type="number" name="PriceTo"></p>
                        </div>
                        <button type="submit">отправить</button>
                    </form>
                </div>
            </aside>
        </td>
    </tr>
</table>
