@model WebApplication1.Models.ToRender.SpecificOilMerch;

@section Styles {
    <link rel="stylesheet" href="/css/Home/_Layout.css" />
    <link rel="stylesheet" href="/css/Home/OilDetails.css" />
}

@section Title {
    Масло @Model.OilName
}

<div class="horizontalCells">
    <div class="oilPhoto">
        <img src="@Model.ImgPath" width="100%">
    </div>
    <div class="oilDescription">
        <div>
            <div>
                <h3>Название:</h3><h3>@Model.OilName</h3>
            </div>
            <div>
                <h3>Вязкость:</h3><h3>@Model.SAEViscosity</h3>
            </div>
            <div>
                <h3>Объём:</h3><h3>@Model.Volume (литров)</h3>
            </div>
            <div>
                <h3>Производитель:</h3><h3>@Model.Producer</h3>
            </div>
            <div>
                <h3>Класс качества:</h3><h3>@Model.APIClass</h3>
            </div>
            <div>
                <h3>Цена(за единицу товара, руб.):</h3><h3>@Model.Price</h3>
            </div>
            <div>
                <h3>Продавец:</h3><h3>@Model.Company</h3>
            </div>
            <div>
                <h3>Адрес магазина:</h3><h3>@Model.Address</h3>
            </div>
            <div>
                <h3>Остаток:</h3><h3>@Model.StockCount</h3>
            </div>
        </div>
    </div>
    <div class="oilDescriptionBottom">
    </div>
</div>