@model ConditionsList;
@using WebApplication1.Models.Edit.ToRender;
@using WebApplication1.Controllers;

@section Styles {
    <link rel="stylesheet" href="/css/Home/_Layout.css" />
    <link rel="stylesheet" href="/css/Home/Test.css" />
    <link rel="stylesheet" href="/css/Edit/ConditionsList.css" />
}

@section Scripts {
    <script src="/js/Edit/ConditionsList.js"></script>
}
<h3 style="color:red;">Внимание! При удалении условия удаляются привязанные к нему автомобили.</h3>
<div id="condsGlobalContainer">
    <h3>Список условий выбора масла</h3>
    @foreach (var cond in Model.Conditions)
    {
        <div class="condset" data-condsetid="@cond.id">
            <h4>Id: @cond.id</h4>

            <div class="condclass" id="OilCondClass @cond.id"
            data-condtype="OilCond">
                <h3>Список условий(допустимые масла):</h3>
                @foreach (var condunit in cond.OilTypeConditions)
                {
                    <form class="condunit" id="OilCondClassForm @condunit.id"
                          data-condtype="OilCond" data-condid="@condunit.id">
                        <label for="priorityOil @condunit.id @cond.id">Приоритет условия:</label>
                        <input type="number" name="priorityOil" value="@condunit.priority" id="priorityOil @condunit.id @cond.id" />
                        <label for="isAllowingOil @condunit.id @cond.id">Условие - разрешающее?:</label>

                        <input type="checkbox" asp-for="@condunit.isAllowing" name="isAllowingOil" id="isAllowingOil @condunit.id @cond.id" checked="@condunit.isAllowing" />
                        
                        <label for="MotorOil @condunit.id @cond.id">Масло:</label>
                        <select name="MotorOil" asp-for="@condunit.MotorOilId" id="MotorOil @condunit.id @cond.id">
                            @foreach (var oil in Model.Oils)
                            {
                                if (oil == condunit.MotorOil)
                                {
                                    <option value="@oil.id" selected>@oil</option>
                                }
                                else
                                {
                                    <option value="@oil.id">@oil</option>
                                }
                            }
                        </select>

                        <input name="condId" value="@condunit.id" hidden />
                    </form>
                    <button name="delCond" value="@condunit.id"
                    data-condtype="OilCond">
                        Удалить условие
                    </button>
                }
            </div>
            <button type="button" class="AddOilCond" value="@cond.id">Добавить</button>


            <div class="condclass" id="SAECondClass @cond.id"
                 data-condtype="SAECond">
                <h3>Список условий(допустимая вязкость):</h3>
                @foreach (var condunit in cond.SAEViscosityConditions)
                {
                    <form class="condunit" id="SAECondClassForm @condunit.id"
                          data-condtype="SAECond" data-condid="@condunit.id">
                        <label for="prioritySAE @condunit.id @cond.id">Приоритет условия:</label>
                        <input type="number" name="prioritySAE" value="@condunit.priority" id="prioritySAE @condunit.id @cond.id" />
                        <label for="isAllowingSAE @condunit.id @cond.id">Условие - разрешающее?:</label>

                        <input type="checkbox" asp-for="@condunit.isAllowing" name="isAllowingSAE" id="isAllowingSAE @condunit.id @cond.id" checked="@condunit.isAllowing"  />

                        <label for="onColdLowerBorderSAE @condunit.id @cond.id">Вязкость(по SAE, минимальная для холодного двигателя):</label>
                        <input type="number" name="onColdLowerBorderSAE" id="onColdLowerBorderSAE @condunit.id @cond.id" value="@condunit.minCold" />
                        <label for="onColdHigherBorderSAE @condunit.id @cond.id">Вязкость(по SAE, максимальная для холодного двигателя):</label>
                        <input type="number" name="onColdHigherBorderSAE" id="onColdHigherBorderSAE @condunit.id @cond.id" value="@condunit.maxCold" />
                        <label for="onHotLowerBorderSAE @condunit.id @cond.id">Вязкость(по SAE, минимальная для горячего двигателя):</label>
                        <input type="number" name="onHotLowerBorderSAE" id="onHotLowerBorderSAE @condunit.id @cond.id" value="@condunit.minHot" />
                        <label for="onHotHigherBorderSAE @condunit.id @cond.id">Вязкость(по SAE, максимальная для горячего двигателя):</label>
                        <input type="number" name="onHotHigherBorderSAE" id="onHotHigherBorderSAE @condunit.id @cond.id" value="@condunit.maxHot" />

                        <input name="condId" value="@condunit.id" hidden />
                    </form>
                    <button name="delCond" value="@condunit.id"
                            data-condtype="SAECond">
                        Удалить условие
                    </button>
                }
            </div>
            <button type="button" class="AddSAECond" value="@cond.id">Добавить</button>


            <div class="condclass" id="APICondClass @cond.id"
                 data-condtype="APICond">
                <h3>Список условий(минимальный класс качества):</h3>
                @foreach (var condunit in cond.APIQualityConditions)
                {
                    <form class="condunit" id="APICondClassForm @condunit.id"
                          data-condtype="APICond" data-condid="@condunit.id">
                        <label for="priorityAPI @condunit.id @cond.id">Приоритет условия:</label>
                        <input type="number" id="priorityAPI @condunit.id @cond.id" name="priorityAPI" value="@condunit.priority" />
                        <label for="isAllowingAPI @condunit.id @cond.id">Условие - разрешающее?:</label>

                        <input type="checkbox" asp-for="@condunit.isAllowing" id="isAllowingAPI @condunit.id @cond.id" name="isAllowingAPI" checked="@condunit.isAllowing"  />
                        
                        <label for="MinAPIClass @condunit.id @cond.id">Минимальный класс качества:</label>
                        <select name="MinAPIClass" asp-for="@condunit.MinAPIQualityClassId" id="MinAPIClass @condunit.id @cond.id">
                            @foreach (var apiclass in Model.APIQualityClasses)
                            {
                                if (apiclass == condunit.MinAPIQualityClass)
                                {
                                    <option value="@apiclass.id" selected>@apiclass.Name</option>
                                }
                                else
                                {
                                    <option value="@apiclass.id">@apiclass.Name</option>
                                }
                            }
                        </select>

                        <input name="condId" value="@condunit.id" hidden/>
                    </form>
                    <button name="delCond" value="@condunit.id"
                            data-condtype="APICond">
                        Удалить условие</button>
                }
            </div>
            <button type="button" class="AddAPICond" value="@cond.id">Добавить</button>

            <button name="delCondSet" value="@cond.id">
                Удалить набор условий
            </button>
        </div>
    }
</div>
<input type="button" id="addSet" value="Добавить" />

