@model MerchList;
@using WebApplication1.Models.Edit.ToRender;
@using WebApplication1.Controllers;

@section Styles {
    <link rel="stylesheet" href="/css/Home/_Layout.css" />
    <link rel="stylesheet" href="/css/Home/Test.css" />
    <link rel="stylesheet" href="/css/Edit/CommonEditStyle.css" />
}

@section Scripts{
    <script>
        let PathCreate = "CreateMerch/";
        let PathDelete = "DeleteMerch/";
        let PathPut = "PutMerch/";
    </script>
    <script src="/js/Edit/OilMerchList.js"></script>
}

@section Title {
    Масла на продажу
}

<div id="merchesGlobalContainer">
    <h3>Список масел на продажу</h3>
    @foreach (var el in Model.MotorOilMerches)
    {
        <form class="merchForm editUnit  paddingUnit" id="@el.id">
            <input name="merchId" value="@el.id" hidden />

            <h4>Масло(номенклатура) товара</h4>
            <div>
                <select id="oilchoose @el.id" name="oilchoose" class="merchOpts @el.id">
                    @foreach (var item in Model.MotorOils)
                    {
                        if (el.MotorOilId == item.id)
                        {
                            <option selected value="@item.id">@item</option>
                        }
                        else
                        {
                            <option value="@item.id">@item</option>
                        }
                    }
                </select>
            </div>
            <h4>Точка продажи</h4>
            <div>
                <select id="storechoose @el.id" name="storechoose" class="merchOpts @el.id">
                    @foreach (var item in Model.Stores)
                    {
                        if (el.StoreId == item.id)
                        {
                            <option selected value="@item.id">@item.Adress (@item.Company.Name)</option>
                        }
                        else
                        {
                            <option value="@item.id">@item.Adress (@item.Company.Name)</option>
                        }
                    }
                </select>
            </div>
            <h4>Цена:</h4>
            <div>
                <input type="number" name="price" value="@el.Price" class="merchOpts @el.id">
            </div>

            <h4>Остаток, шт.:</h4>
            <div>
                <input type="number" name="stockcount" value="@el.StockCount" class="merchOpts @el.id">
            </div>

            <input class="inpBtn" type="button" name="delete" id="del @el.id" value="Удалить" />
        </form>
    }
</div>
<input class="inpBtn" type="button" id="addEl" value="Добавить" />